<p>
<strong>Title</strong>
<%= @post.title %>
</p>
<p>
  <strong>Text</strong>
  <%= @post.text %>
</p>
<h2>Comments</h2>
<%#= render @post.comments %>
<%# @post.comments.each do |a| %>
    <!--<p>-->
      <!--<strong>Commenter:</strong>-->
      <!--<%#= a.commenter %>-->
    <!--</p>-->
    <!--<p>-->
      <!--<strong>Body:</strong>-->
      <!--<%#= a.body %>-->
    <!--</p>-->
    <%# end %>
<%= render "comments/form" %>
<%= link_to "Back", posts_path %>
<%= link_to "Edit", edit_post_path %>
